.idea/
test-results.html
frontend-parallel-test-results.html
**/__pycache__/
.DS_Store
.claude
CLAUDE.md
CLAUDE_IMPROVEMENTS.MD

.env
run-*.sh
reusable_user.txt
assets/
baseline-*.html
.python-version
/Library/
/.npm/