apipkg==3.0.2
appdirs==1.4.4
astroid==3.1.0
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup==1.2.0
execnet==2.0.2
FoxPuppet==1.0.3
future-fstrings==1.2.0
fxapom==1.10.2
hawkauthlib==2.0.0
hjson==3.1.0
idna==3.6
importlib-metadata==7.0.2
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
more-itertools==10.2.0
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pathspec==0.12.1
pluggy==1.4.0
psutil==5.9.8
py==1.11.0
PyBrowserID==0.14.0
pycparser==2.21
PyFxA==0.7.8
PyJWT==2.8.0
pylint==3.1.0
pyparsing==3.1.2
PyPOM==2.2.4
pytest==8.1.1
pytest-base-url==2.1.0
pytest-dependency==0.6.0
pytest-firefox==0.1.1
pytest-forked==1.6.0
pytest-fxa==1.4.0
pytest-html==3.1.1
pytest-instafail==0.5.0
pytest-metadata==3.1.1
pytest-rerunfailures==13.0
pytest-selenium==4.0.0
pytest-variables==2.0.0
pytest-xdist==3.5.0
pyotp==2.9.0
regex==2023.12.25
requests==2.31.0
selenium==4.5.0
six==1.16.0
tenacity==8.2.3
toml==0.10.2
typed-ast==1.5.5
typing-extensions==4.9.0
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.13
WebOb==1.8.7
wrapt==1.16.0
zipp==3.17.0
zope.component==6.0
zope.deferredimport==4.4
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
zope.proxy==5.1
