version: 2.1
orbs:
  win: circleci/windows@2.2.0
jobs:
  test:
    executor:
      name: win/default
      size: "medium"
    working_directory:  ~/addons-release-tests/

    steps:
      - checkout
      - run:
          name: Install requirements
          command: pip install --no-deps -r ./requirements.txt
      - run:
          name: Install geckodriver
          command: choco install selenium-gecko-driver
      - run:
          name: Install Firefox
          command: choco install firefox
      - run:
          name: Run tests
          environment:
            MOZ_HEADLESS: 1
            PYTEST_ADDOPTS: -n 2
          command: pytest --driver Firefox --variables stage.json --html=ui-test-release.html --self-contained-html
          no_output_timeout: 30m
      - store_artifacts:
          path: ui-test-release.html
workflows:
  build_and_test:
    jobs:
        - test
